<?xml version="1.0" ?>
<!--
/**
 * Wunderman Thompson Ltd.
 *
 * @category    WT
 * @package     CustomerImport
 * @author      Anuradha Fernando <anuradhafernando81@gmail.com>
 * @copyright   Copyright (c) 2022 Wunderman Thompson Ltd. (https://www.wundermanthompson.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="WT_CustomerImport" setup_version="1.0.0"/>
</config>
